body {
  background-color: gray;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: auto;
  width: 100%;
}

select {
  padding: 10px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #61d5df;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
}

.nav__search {
  height: 39px;
  box-sizing: border-box;
  padding: 3px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #61d5df;
  font-size: 15px;
  border: 0px;
  display: flex;
  align-items: center;
  min-width: 300px;
}
#searchQuery {
  border: 0px;
  outline: none;
  flex: 1 200px;
  height: 100%;
  max-height: 27px;
  padding-left: 5px;
}

#search-button {
  border: 0px;
  outline: none;
  flex: 1 50px;
  height: 100%;
  max-height: 27px;
  cursor: pointer;
}

.catalog {
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 10px;
}

.catalog__product {
  max-height: 250px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.catalog__photo {
  max-height: 160px;
  max-width: 250px;
  background-color: white;
}

.catalog__photo img {
  max-height: 160px;
  max-width: 250px;
  margin: auto;
}
